# Based on Google's coding standards
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignOperands: true
AllowShortFunctionsOnASingleLine: Inline
# Ensures pointers align to the type, e.g., int* p;
PointerAlignment: Left